body {
    font-family: sans-serif;
    font-size: 1,2rem;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
}

img {
    max-width: 30%;
}
main{
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.navigaton {
    list-style: armenian;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.snurra {
    animation: snurra 2s linear infinite;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

@keyframes snurra {
    from {
        /* transform: rotate(0deg); */
        transform: translateX();
    }
    to {
        transform: rotate(360deg);
        
    }
}

button {
    font-size: 2rem; 
}

.Picturetop {
    position:absolute;
    top: 0;
    right: 0;
}

.Picturetopleft {
    position:absolute;
    top: 0;
    left: 0;
}